<!-- app/templates/home/home.html -->

{% extends "main.html" %}
{% block wrapper %}<h1 class="display-4">Class Attendance Website</h1>{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Welcome to the Class Attendance Website</h1>
                    <h3>Hello there!</h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}