<!-- app/templates/home/home.html -->

{% extends "main.html" %}
{% block wrapper %}<h1 class="display-4">Class Attendance Website</h1>{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Welcome to the Class Attendance Website</h1>
                    <br/>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <script>
                        var messages = {{ messages | safe }};
                        for (var i=0; i < messages.length; i++) {
                            alert(messages[i]);
                        }
                    </script>
                    {% endif %}
                    {% endwith %}
                    <br/>
                    <h3>Hello there!</h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}