<!-- app/templates/errors/401.html -->

{% extends "main.html" %}
{% block wrapper %}<h1 class="display-4"> 401 Error </h1>{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div style="text-align: center">
            <h3> Authentication Error. Bad credentials (e.g password) or the server does not understand the request.
                Please try again later.
            </h3>
            <hr class="intro-divider">
            <!--suppress HtmlUnknownTarget -->
            <a class="btn btn-default btn-lg" href={% if is_lecturer %}"{{ url_for('staff.dashboard') }}"
                    {% elif is_student %}"{{ url_for('student.home') }}"
                    {% else %}"{{ url_for('home.index') }}"
                    {% endif %} >
                <i class="fa fa-home"></i>
                Home
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
