<!-- app/templates/includes/_navbar.html -->

<!--suppress ALL -->
<nav class="navbar navbar-default">
    <div class="header clearfix">
        <a class="navbar-brand topnav" href={% if is_lecturer %}
                "{{ url_for('staff.dashboard') }}">{% else %}
                "{{ url_for('home.index') }}"> {% endif %}
        Class Attendance System</a>
        <ul style="font-size: small" class="nav nav-pills float-right">
            {% if current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link active" href="{{ url_for('staff.dashboard') }}">Dashboard</a></li>
                {% if active %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('staff.running_class') }}">End Class</a></li>
                {% else %}
                    {% if is_lecturer %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('staff.logout') }}">Logout</a></li>
                    {% endif %}
                {% endif %}
            <li class="nav-item"><a class="nav-link"><i class="fa fa-user"></i> {{ current_user.name }}</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link active" href="{{ url_for('home.index') }}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('staff.login') }}">Staff</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('student.login') }}">Students</a></li>
            {% endif %}
        </ul>
    </div>
</nav>