{% extends "base.htm" %}
{% block body %}
<button id="button" name="button" onclick="getLocation()">Location</button>
<h2 >Student Information</h2>
<form action="{{ url_for('record') }}" method="POST" enctype="multipart/form-data" role="form" class="form-horizontal">

	<p>
		<label class="col-sm-2 control-label">Reg No</label> <br>
        {{ form.regno }}
		<!-- display error message if field fails validation -->
		{% for error in form.regno.errors %}
			<span style="color:red;">[{{ error }}]</span>
		{% endfor %}
	</p>
		
	<p>
		<label class="col-sm-2 control-label">Name</label> <br>
        {{ form.name }}
		{% for error in form.name.errors %}
			<span style="color:red;">[{{ error }}]</span>
		{% endfor %}
	</p>
		
	<p>
        <label class="col-sm-2 control-label">Time</label> <br>
        {{ form.time }}
		{% for error in form.time.errors %}
			<span style="color:red;">[{{ error }}]</span>
		{% endfor %}
	</p>
        
        <input type="hidden" id="latitude" name="latitude" value="" >
		<input type="hidden" id="longitude" name="longitude" value="">
		
	<!--
        <div class="form-group">
        <label class="col-sm-2 control-label">LAC</label>
        <div class="col-sm-4">
		<input type="text" name="lac" >
        </div>
        </div>

        <div class="form-group">
        <label class="col-sm-2 control-label">CI</label>
        <div class="col-sm-4">
		<input type="text" name="ci" >
        </div>
        </div>
	-->
		
	<p>
		<label class="col-sm-2 control-label">Picture</label> <br>
		{{ form.picture }}
		{% for error in form.picture.errors %}
			<span style="color:red;">[{{ error }}]</span>
		{% endfor %}
	</p>
        
        <div class="form-group">
		<button  class="col-sm-offset-2 col-lg-offset-2 col-sm-3 col-lg-2" type="submit" class="btn btn-primary" >submit</button>
        </div>
	</form>

{% endblock %}
