{% extends "base.htm" %}
{% block body %}
<button id="button" name="button" onclick="getLocation()">Location</button>
<form action="{{ url_for('record') }}" method="POST" enctype="multipart/form-data" role="form" class="form-horizontal">
		<h2 >Student Information</h2>
        <div class="form-group">
		<label class="col-sm-2 control-label">Reg No</label>
        <div class="col-sm-4">
		<input type="text" name="regno" >
        </div>
        </div>
        <div class="form-group">
		<label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
		<input type="text" name="name" >
        </div>
        </div>
        <div class="form-group">
        <label class="col-sm-2 control-label">Time</label>
        <div class="col-sm-4">
		<input type="time" name="time" >
        </div>
        </div>
        <input type="hidden" id="latitude" name="latitude" value="" >
		<input type="hidden" id="longitude" name="longitude" value="">
		
        <div class="form-group">
        <label class="col-sm-2 control-label">LAC</label>
        <div class="col-sm-4">
		<input type="text" name="lac" >
        </div>
        </div>

        <div class="form-group">
        <label class="col-sm-2 control-label">CI</label>
        <div class="col-sm-4">
		<input type="text" name="ci" >
        </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Picture</label>
            <div class="col-sm-4">
                <input type="file" name="picture">
            </div>
        </div>
        <div class="form-group">
		<button  class="col-sm-offset-2 col-lg-offset-2 col-sm-3 col-lg-2" type="submit" class="btn btn-primary" >submit</button>
        </div>
	</form>

{% endblock %}
