<!-- app/templates/index.html -->
{% extends "main.html" %}
	{% block contents %}
	<div class="container">
					<div class="row">
						<div class="col-lg-12 col-sm-12 col-md-12">
			<table class="table table-bordered table-striped table-responsive">
			<caption>LIST OF {% block title %}{% endblock %}</caption>
			<thead>
			<tr>
				{% block heading %}{% endblock %}
			</tr>
			</thead>
			<tbody>
			{% block records %}{% endblock %}
			</tbody>
		</table>
		<button {% if download %} style="display: none;" {% endif %} type="button" onclick="location.href = '{{ url_for('download', variable=table) }}'" class="btn btn-link">Download report</button>

						</div>
					</div>

				</div>
	{% endblock %}