{% extends "index.html" %}
	{% block title %} STUDENTS {% endblock %}
        {% block heading %}
            <th>ID</th><th>Reg No.</th><th>Name</th><th>Course</th><th>Time</th><th>Latitude</th><th>Longitude</th><th>LAC_Coords</th><th>CI_Coords</th><th>Picture</th><th>Source</th><th></th>
        {% endblock %}
        {% block records %}
        {%  for row in rows %}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.reg_no}}</td>
            <td> {{row.name}}</td>
			<td> {{row.course}}</td>
            <td>{{row.time}}</td>
            <td>{{row.latitude}}</td>
            <td> {{row.longitude}}</td>
            <td>{{row.lac}}</td>
			<td>{{row.ci}}</td>
            <td><img class="img-circle" src="..{{row.pic_url}}" align="center" alt="{{row.name}}" style="width:100px;height:100px"></td>
			<td> {{row.source}}</td>
            <td><form action ="{{url_for('delete')}}" method = 'POST'><input type=hidden value='{{row.id}}' name='id'><button id ='button'>Delete</button></form></td>
           
        </tr>
        {% endfor %}
        {% endblock %}