<!-- app/templates/main.html -->

<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <title>{{ title }} | Class Attendance System</title>
    {% if not download %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% if home %}<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">{% endif %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    {% if not home %}<link href="{{ url_for('static', filename='css/narrow-jumbotron.css') }}" rel="stylesheet">{% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="shortcut icon" type="image/gif" href="{{ url_for('static',filename='img/animated_favicon1.gif') }}">
    <script>
        document.write('<link href="{{ url_for('static', filename='css/style.css') }}?r='+
            (new Date()).getTime() +
            '" rel="stylesheet" />')
    </script>
     {% endif %}
</head>

<header>
    {% include 'includes/_navbar.html' %}
</header>

<body>
  <div class="container">
    <div class="jumbotron">
        {% block wrapper %}{% endblock %}
    </div>

    <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
    {% include 'includes/_footer.html' %}
  </div>
</body>
</html>