{% extends "index.html" %}
	{% block title %} STUDENTS {% endblock %}
		{% block heading %}
            <th>ID</th><th>Reg No.</th><th>Name</th>
        {% endblock %}
		{% block records %}
        {%  for row in res %}
        <tr>
            <td> {{ row.id }} </td>
			<td> {{ row.reg_no }} </td>
			<td> {{ row.name }} </td>
            <td><form action ="{{url_for('rlist_delete')}}" method = 'POST'><input type=hidden value='{{row.id}}' name='id'><button id ='button'>Delete</button></form></td>
           
        </tr>
        {% endfor %}
        {% endblock %}